INSERT INTO `content`
(userId, createdBy, parentId, groupId, date, changeDate, body, headline, link, type, privacy, status, flagDate, commentCount, yes_votes, no_votes, stub, editDate, commentDate, hidden)
VALUES
(1,1,NULL,NULL,'XXX_DATE_HERE_XXX','XXX_DATE_HERE_XXX','<p>Direct fees for dissemination of primary legal materials should be avoided.</p>\r\n<p><a href=\"http://public.resource.org/law.gov\" >public.resource.org/law.gov</a>','Access fees (Law.Gov #1)',NULL,'lgviolation','public','new',NULL,NULL,0,0,'access_fees_lawgov_1','XXX_DATE_HERE_XXX',NULL,0),
(1,1,NULL,NULL,'XXX_DATE_HERE_XXX','XXX_DATE_HERE_XXX','<p>Limitations on access through terms of use or the assertion of copyright on primary legal materials is contrary to long-standing public policy and core democratic principles and is misleading to citizens.</p>\r\n<p><a href=\"http://public.resource.org/law.gov\" >public.resource.org/law.gov</a>\r\n','Assertion of Copyright (Law.Gov #2)',NULL,'lgviolation','public','new',NULL,NULL,0,0,'copyright_restrictions_lawgov_2','XXX_DATE_HERE_XXX',NULL,0),
(1,1,NULL,NULL,'XXX_DATE_HERE_XXX','XXX_DATE_HERE_XXX','<p>Primary legal materials should be made available using bulk access mechanisms so they may be downloaded by anyone.</p>\r\n<p><a href=\"http://public.resource.org/law.gov\" >public.resource.org/law.gov</a>\r\n','Lack of Bulk Access (Law.Gov #3)',NULL,'lgviolation','public','new',NULL,NULL,0,0,'bulk_access_lawgov_3','XXX_DATE_HERE_XXX',NULL,0),
(1,1,NULL,NULL,'XXX_DATE_HERE_XXX','XXX_DATE_HERE_XXX','<p>The primary legal materials, and the methods used to access them, should be authenticated so people can trust in the integrity of these materials.</p>\r\n<p><a href=\"http://public.resource.org/law.gov\" >public.resource.org/law.gov</a>\r\n','Lack of Authentication (Law.Gov #4)',NULL,'lgviolation','public','new',NULL,NULL,0,0,'authenticated_integrity_lawgov_4','XXX_DATE_HERE_XXX',NULL,0),
(1,1,NULL,NULL,'XXX_DATE_HERE_XXX','XXX_DATE_HERE_XXX','<p>Historical archives should be made available online and in a static location to the extent possible.</p>\r\n<p><a href=\"http://public.resource.org/law.gov\" >public.resource.org/law.gov</a>\r\n','Incomplete Historical Archives (Law.Gov #5)',NULL,'lgviolation','public','new',NULL,NULL,0,0,'static_online_archives_lawgov_5','XXX_DATE_HERE_XXX',NULL,0),
(1,1,NULL,NULL,'XXX_DATE_HERE_XXX','XXX_DATE_HERE_XXX','<p>Vendor- and media-neutral citation mechanisms should be employed.</p>\r\n<p><a href=\"http://public.resource.org/law.gov\">public.resource.org/law.gov</a></p>','Vendor Neutral Citation (Law.Gov #6)',NULL,'lgviolation','public','new',NULL,NULL,0,0,'vendor-neutral_media-neutral_citation_lawgov_6','XXX_DATE_HERE_XXX',NULL,0),
(1,1,NULL,NULL,'XXX_DATE_HERE_XXX','XXX_DATE_HERE_XXX','<p>Technical standards for document structure, identifiers, and metadata should be developed and applied as extensively as possible.</p>\r\n<p><a href=\"http://public.resource.org/law.gov\" >public.resource.org/law.gov</a>\r\n','Outmoded Document Structure (Law.Gov #7)',NULL,'lgviolation','public','new',NULL,NULL,0,0,'standardized_structure_format_lawgov_7','XXX_DATE_HERE_XXX',NULL,0),
(1,1,NULL,NULL,'XXX_DATE_HERE_XXX','XXX_DATE_HERE_XXX','<p>Data should be distributed in a computer-processable, non-proprietary form in a manner that meets best current practices for the distribution of open government data. That data should represent the definitive documents, not just aggregate, preliminary, or modified forms.</p>\r\n<p><a href=\"http://public.resource.org/law.gov\" >public.resource.org/law.gov</a>\r\n','Distribution Format Does Not Meet Best Current Practices (Law.Gov #8)',NULL,'lgviolation','public','new',NULL,NULL,0,0,'non-proprietary_computer_processability_lawgov_8','XXX_DATE_HERE_XXX',NULL,0),
(1,1,NULL,NULL,'XXX_DATE_HERE_XXX','XXX_DATE_HERE_XXX','<p>An active program of research and development should be sponsored by governmental bodies that issue primary legal materials to develop new standards and solutions to challenges presented by the electronic distribution of definitive primary legal materials. Examples include the automated detection and redaction of private personal information in documents.</p>\r\n<p><a href=\"http://public.resource.org/law.gov\" >public.resource.org/law.gov</a>\r\n','Jurisdiction Not Facing New Challenges (Law.Gov #9)',NULL,'lgviolation','public','new',NULL,NULL,0,0,'responsible_online_distribution_lawgov_9','XXX_DATE_HERE_XXX',NULL,0),
(1,1,NULL,NULL,'XXX_DATE_HERE_XXX','XXX_DATE_HERE_XXX','<p>An active program of education, training, and documentation should be undertaken to help governmental bodies that issue primary legal materials learn and use best current practices.</p>\r\n<p><a href=\"http://public.resource.org/law.gov\" >public.resource.org/law.gov</a>\r\n','Inadequate Training, Education, Documentation (Law.Gov #10)',NULL,'lgviolation','public','new',NULL,NULL,0,0,'use_best_practices_lawgov_10','XXX_DATE_HERE_XXX',NULL,0);
